<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doggy Day Care</title>

    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <header>
        <nav>
            <div class="navheading">
            <figure class="logo">
                <img src="img/logo_1500x1600.jpg" alt="doggy day care" width="1500" height="1600" />
                <figcaption class="offscreen">Doggy day care</figcaption>
            </figure>
            <h1 class="navHeading">Doggy Day Care</h1>
        </div>
            <ul class="navbarelements">
                <li><a href="main.html">Home</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="mybookings.html">My bookings</a></li>
                <li><a href="index.html">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 class="aboutheading center">About Us</h2>
        <p class="aboutcontent center">Welcome to about page of our day care center, We are the number 1 pet care takers in the world</p>
        <p class="aboutcontent center">We provide services like pet grooming, training, babysiting which can be booked according to the timeslots of 1hour each</p>
        <br><br>
        <h2 class="center">Service timings</h2>
        <br>
        <table>
            <caption>Our service time</caption>
            <thead>
                <tr>
                    <th scope="col">Services</th>
                    <th scope="col">From (AM)</th>
                    <th scope="col">To (PM)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Grooming</th>
                    <td><time datetime="10:00">10am</time></td>
                    <td><time datetime="18:00">6pm</time></td>
                </tr>
                <tr>
                    <th scope="row">babysitting</th>
                    <td><time datetime="10:00">10am</time></td>
                    <td><time datetime="18:00">6pm</time></td>
                </tr>
                <tr>
                    <th scope="row">Grooming</th>
                    <td><time datetime="10:00">10am</time></td>
                    <td><time datetime="18:00">6pm</time></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Note!! For a given particular timeslot we only provide a single service.
                        <br> The services are available on every single day</td>
                </tr>
            </tfoot>
        </table>
    </main>

    <footer>
        <div class="center">
        <p>copyright &copy; doggydaycare.com</p>
    </div>
    </footer>
</body>

</html>