<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doggy Day Care</title>

    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <header>
        <nav>
            <div class="navheading">
            <figure class="logo">
                <img src="img/logo_1500x1600.jpg" alt="doggy day care" width="1500" height="1600" />
                <figcaption class="offscreen">Doggy day care</figcaption>
            </figure>
            <h1 class="navHeading">Doggy Day Care</h1>
        </div>
            <ul class="navbarelements">
                <li><a href="about.html">About US</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="mybookings.html">My bookings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="mainheading">
        <h2>Welcome to Doggy day care</h2>
        <p>Please select a service according to your requirement and a book a slot</p>
        </section>

    <article class="services">
        <section class="service">
            <h3>Pet Grooming</h3>
            <figure class="servicepic">
                <img src="img/grooming.jpg" alt="">
                <figcaption class="offscreen">Grooming</figcaption>
            </figure>
            <p class="description">Includes showering your pet and cutting the hairs and nails of your pet</p>
            <a class="bookbutton" href="groombooking.html">Book Now</a>
        </section>

        <section class="service">
            <h3>Babysitting</h3>
            <figure class="servicepic">
                <img src="img/babysitting.jpg" alt="">
                <figcaption class="offscreen">babysitting</figcaption>
            </figure>
            <p class="description">Your dog is taken care so that you dont have to worry about it when you are out</p>
            <a class="bookbutton" href="babybooking.html">Book Now</a>
        </section>

        <section class="service">
            <h3>Pet Training</h3>
            <figure class="servicepic">
                <img src="img/training.jpg" alt="">
                <figcaption class="offscreen">babysitting</figcaption>
            </figure>
            <p class="description">Includes toilet training and walk training for your pet</p>
            <a class="bookbutton" href="trainingbooking.html">Book Now</a>
        </section>
    </article>
    </main>

    <footer>
        <div class="center">
        <p>copyright &copy; doggydaycare.com</p>
    </div>
    </footer>
</body>

</html>